@import 'material-design/bootstrap-material-design.css';
@import 'https://js.arcgis.com/4.6/esri/css/main.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&subset=cyrillic';

.header {
  height: 115px;
  background: url(/images/header.png) left 30% repeat #fff;
  color: #fff;
}
.header:before {
  content: "";
  position:absolute;
  width: 100%;
  height: 115px;
  background: rgba(0,0,0,0.5);
  
}

.news {
  padding-bottom: 500px;
  background-color: #fff; 
  background-clip: border-box; 
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.banners {
  margin:25px 0;
}

.btn:focus {
  box-shadow: none;
}

.content {
  padding: 10px 0;
}

.card-body ul {
 list-style-type: none;
 list-style-position: outside;
 padding: 0;
}

.card-body ul li {

}
.dropdown-menu {
  right: auto !important;
}

.isCompany {
  margin: 20px 0;
}

.isCompany label {
  margin-right: 20px;
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.viewDiv {
  padding: 0;
  margin: 0;
  height: 600px;
  width: 100%;
  /*overflow: hidden;*/
}

.map-view {
  height: 100%;
}

.apz-list {
  padding: 15px 20px;
}

.apz-list h4 {
  display: block !important;
  text-align: center;
}

#declined {
  color: red;
}

#accepted {
  color: green;
}

#in-process {
  color: gold;
}

.apz-list h4 li {
  list-style-type: none;
  margin: auto;
  padding: 3px;
  font-size: 16px;
  font-weight: bold;
}

.apz-list li {
  line-height: 1.5;
  padding: 10px 15px;
  list-style-type: none;
    margin: 10px 0 0 15px;
    font-size: 16px;
    font-weight: bold;

}

.apz-list li:hover {
  background: #ccc;
  cursor: pointer;
}

.apz-list li:active {
  background: #000
}

.apz-detailed {
  font-size: 10pt;
}

.home-page .card-color-1 {background: #5cc4ca;}
.home-page .card-color-2 {background: #7abf82;}
.home-page .card-color-3 {background: #db8c8c;}
.home-page .card-color-4 {background: #494572;}
.home-page .card-color-5 {background: #cac25c;}
.home-page .card-color-6 {background: #3b9484;}

.home-page .card-deck p {
  font-weight: 300;
}

.home-page .card-image {
  padding: 15px;
}

.home-page .card-image .image-border {
  border: 1px solid #fff;
}

.home-page .card-image img {
  width: 80px;
  margin: 20px auto;
  display: block;
}

.home-page .card-deck .card-footer {
  padding: 0;
}

.home-page .card-deck .card-footer .btn {
  width: 100%;
  margin: 0;
  padding: 10px 0;
}



/*.navbar {
    margin-bottom: 30px;
}*/

#mapid {
  height: 520px;
  width: 100%;
}

#tabIcon {
    float: right;
}

.middle-height {
  height: 100%;
  z-index: 0;
}

.bg-blue {
    background-color: rgb(0, 50, 125)!important;
}
thead {
    background-color: #d3e8ef;
}

#container {
  overflow: hidden;
}

.logo {
    padding: 20px 0;
}

.logo img {

}

.bg-blue li.nav-item > a.active[aria-current=true] {
  background: rgba(255,255,255,0.2);
}

.preloader-icon {
  position: absolute;
  z-index: 5;
  margin: auto;
  width: 100% !important;
  height: 100% !important;
  padding: 25%;
  background: rgba(285,285,285,0.5);
}

.slide {
  width: 100%;
  height: 600px;
  background: url('http://almaty.uaig.kz/wp-content/uploads/2017/08/cropped-1.jpg') top center no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding: 200px 50px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.btn-white {
  color: #e9ecef !important;
  border-color: #e9ecef !important;
}

.dropdown-menu .dropdown-item {
  max-width: 100%;
}

.justify-content-end {
  padding-right: 10px;
}

.block-main {
  margin-top: 50px;
}

.block-main h5, .block-title-1, .block-title-2, .block-title-3 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 30px;
}

.block-title-2 {
  font-size: 25px;
}

.block-title-3 {
  font-size: 20px;
}

.promo-block {
  margin-top: 50px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  /*text-align: center;*/
  color: #fff;
}

.promo-block a {
  border-color: #fff !important;
}

.promo1 {
  padding: 40px;
  background-color: #7abf82;
}

.promo2 {
  padding: 40px;
  background-color: #7ebec5;
}

.promo3 {
  padding: 40px;
  background-color: #db8c8c;
}

.promo4 {
  padding: 40px;
  background-color: #494572;
}

.block-content {
  margin-top: 50px;
}

.block-content h2 {
  text-align: center;
  text-transform: uppercase;
}

.footer {
  /*position: absolute;
  bottom: 0;
  width: 100%;*/
  margin-top: 15px;
  background-color: #222;
  padding: 50px 0;
  color: #fff;
  /*border-bottom: 25px solid rgba(0, 0, 0, 0.32);*/
}

.navbar-light .navbar-nav .nav-link {
    color: #e9ecef;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f8f9fa;
}

.navbar-light  .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.47);
}

.invisible {
  height: 0;
}

/* ProgressBar */
.progressBar {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.progressBar .circle,
.progressBar .bar {
  display: inline-block;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
}

.progressBar .bar {
  position: relative;
  width: 50px;
  height: 6px;
  top: -50px;
  margin-left: 0px;
  margin-right: 0px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.progressBar .box {
  display: inline-block;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border: solid 5px grey;
  border-radius: 10px;
}

.progressBar .box .bar {
  position: relative;
  width: 70px;
  height: 6px;
  top: -50px;
  margin-left: 0px;
  margin-right: 0px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.progressBar .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
}

.progressBar .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 1;
  margin-left: 0px;
  word-wrap: normal;
}

/* Done / Active */
.progressBar .bar.done,
.progressBar .circle.done {
  background: #eee;
}

.progressBar .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}

.progressBar .circle.done .label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}

.progressBar .circle.done .title {
  color: #444;
  word-wrap: normal;
}

.progressBar .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}

.progressBar .circle.active .title {
  color: #444;
  word-wrap: normal;
}

.progressBar .circle.fail {
  background: #eee;
}

.progressBar .circle.fail .title {
  color: #444;
  word-wrap: normal;
}

.progressBar .circle.fail .label {
  color: #FFF;
  background: #FF6868;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}

.statusBar, .actionDate {
  width: 100%;
  margin: auto;
}

.allResponseText {
  width: 100%;
  padding: 10px 25px;
}

.responseText {
  width: 50%;
  padding: 0;
  margin: auto;
}

/* END ProgressBar*/

.panel-heading {
  background: #cbc7c7;
  padding: 0;
  font-weight: bold;
}

.panel-body {
  padding: 0;
  border-bottom: ridge;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  width: fit-content;
  margin: auto;
  margin-top: 5px;
  background-color: silver;
  line-height: 1.5px;
  padding: 5px;
  border: black solid;
  border-width: 1px;
  border-radius: 5px;
}

ul.header li a {
  color: #FFF;
  font-weight: normal;
  text-decoration: none;
  padding: 5px;
  display: inline-block;
}

/* Map */
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.zoom-btns {
  float: left;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.button {
  display: inline-block;
  position: relative;
  margin: 5px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 2em;
  background-color: #fff;
  color: #646464;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.button.circle {
  border-radius: 50%;
}

.button:hover {
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.25);
}

.button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.button.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

.disable {
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.25);
}

.disable:hover {
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.25);
}

.material-icons {
  font-size: 1.2em;
  line-height: 50px;
}

/* Dropdown styles*/

/* Set the parent <li>’s CSS position property to ‘relative’. */
ul.main-dd-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  background: lightgreen;
  padding: 5px;
}

ul.main-dd-menu li {
  display: block;
  position: relative;
  float: left;
}

/* The CSS to hide the sub menus. */
li ul.submenu { display: none; }

ul.submenu {
  padding: 5px;
  z-index: 1;
  background: lightcyan;
}

/* Displays the dropdown menu on hover. */
li:hover > ul {
  display: block;
  position: absolute;
}

/* Displays submenu dropdown menu to the right of the dropdown menu.*/
ul ul {
  left: 100%;
  top: 0;
}

li:hover li { float: none; }

ul.main-dd-menu li ul li { border-top: 0; }

/* Displays second level dropdown menus to the right of the first level dropdown menu. */
ul ul ul {
  left: 100%;
  top: 0;
}

ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }
/* END Dropdown styles*/

.pull-right {
  float: right;
}

/* Button colors. */
.btn-provider{
  background-color: #B579D2;
  border: #B579D2;
  color: white;
}

.btn-urban{
  background-color: #00E25B;
  border: #00E25B;
  color: white;
}

.btn-citizen{
  background-color: #879CA7;
  border: #879CA7;
  color: white;
}

.btn-region{
  background-color: #FBC846;
  border: #FBC846;
  color: white;
}
/* Dropdown styles END*/

img {
  max-width: 100%;
}

.files-page ul.nav-tabs {
  float: right;
  margin-bottom: 20px;
}

.files-page .image-thumbnail div {
  height: 250px;
  background-size: cover!important;
}

.files-page .card-deck .card {
  margin-bottom: 15px;
  margin-top: 15px;
  flex: none;
  flex-grow: 1;
  width: calc(100% * (1/3) - 30px);
}

.files-page .control_buttons + .control_buttons {
    margin-left: 10px;
}

.sketch-page .list-group-item {
  display: block;
}

.sketch-page .list-group-item :first-child {
  margin-right: 0.5rem;
}

.sketch-page .list-group-item.active {
  color: inherit;
  background-color: #f8f9fa;
}

.sketch-page .file_block div {
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin: 15px 0 0 !important;
}

.sketch-page .file_block div a {
  float: right;
  margin-left: 20px;
}

.sketch-page .file_block div a:hover {
  text-decoration: none;
}

.review_tag {
  color: #135ead;
  font-weight: bold;
  cursor: pointer;
}

.review-page .list-group.bmd-list-group-sm .list-group-item {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #fafafa;
  margin-bottom: 10px;
}

.review-page .list-group-item .list-group-item-text {
    margin: 0;
}

.review-page .list-group-item :first-child {
    margin-right: 0;
}

.review-page form {
    margin-bottom: 1.125rem;
    padding: 1.5rem 1rem 0;
    margin-bottom: 15px;
    margin-top: 15px;
    flex: none;
    flex-grow: 1;
    width: calc(100% * (1/3) - 30px);
}

.detail {
  margin: 0;
  width: 100%;
}

.head_result {
  margin-top: 20px;
  padding: 5px 15px;
  background: #D4D6D8;
}

.card-header h4 {
    font-size: 20px;
    font-weight: 300;
}

.budget-plan-page .glyphicon-file {
  font-size: 25px;
  margin-right: 10px;
}

.budget-plan-page .list-group-item-heading {
  margin-bottom: 10px;
}

.budget-plan-page .list-group-item-text {
  margin-bottom: 0;
}

.video_tutorials-plan-page .video_block {
  text-align: center;
  padding: 15px 0;
}

.video_tutorials-plan-page .video_block .row {
  align-items: center;
}

.mish .container{
  width: 100%;
  height: 105px;
  position: relative;
  font-family: Roboto;
}
.mish .container .row{
  font-weight: normal;
  font-family: Roboto;
  height: 100%;
}
.mish .container .row ul li a{
  font-size: 14px;
  color: white;
  padding: 0px;
  text-decoration: none;
  offset: 0px;
  list-style: none;
}

.col_1 ul{
  padding-bottom: 0px;
  padding: 0px;
  padding-left: 20px;
  margin: 0px;
  margin-top: 15px;
}
.col_2 ul{
  padding-bottom: 0px;
  padding-left: 27px;
  margin: 0px;
  margin-top: 15px;
}
.col_3 ul{
  padding-bottom: 0px;
  padding-left: 27px;
  margin: 0px;
  margin-top: 15px;
}
.col_4 ul{
  padding-left: 27px;
  margin: 0px;
  margin-top: 15px;
}
.col_4{
  position: absolute;
  right: 20px;
  padding-left: 100px;
  float: right;
}
.col_1{
  float: left;
}
.col_4 ul li a{
  font-size: 12px!important;
}
 .mish{
   background-color: #1a4482;
 }

 .mish .container .row ul li{
   list-style: none;
   padding-bottom: 8px;
 }
#f{
  padding-bottom: 0px;
}
#s{
  padding-bottom: 0px;
}
#t{
  padding-bottom: 0px;
}

.navigational_price{
  font-family: 'Roboto';
  font-weight: 100;
  font-size:12px;
}
.navigational_price{
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-decoration: none;
}
.navigational_price a{
  color: #00327d;
}
table{
  margin-top: 20px;
  text-align: center;
  font-family: "Roboto";
}
.captionline{
  background-color: white;
}
.h4-inline {
  display: inline;
}

.nav-link-reports {
  padding: 0 0.857em !important;
}

.text-muted {
  font-size: 10pt;
  color: #fff !important;
}
.site-title {
  font-size: 14pt;
}
.site-logo {
  text-align: center;
}
.polls-menu {
  background-color: #E53935 !important;
}
.tableReports td {
  padding: 5px;
  vertical-align: top;
  border-color: #000;
}
.header-search input::placeholder {
  color: #fff;
}

.captionline{
  padding-color: 0px;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 100;
  text-align: center;
  padding-top: 20px;
  background: #fafafa;
}

.table-own-style, .th-own-style{
  font-size: 12px !important;
  font-family: "Roboto" !important;
}

.td-img{
  display: inline;
  width:100px;
  margin: 0 auto;
}

.col-1point5 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

.sorting-period-header{
  margin: 0 0 15px;
}

.sorted-info-body{
  margin: 0;
}

.sortingType {
  border-bottom: 0.214rem solid;
  border-color: #009688;
  background-color: #fafafa;
  cursor: pointer;
}

.noStyleSortType {
  cursor: pointer;
}
.monthlyreport{
  font-size: 13px;
}

  @media print .shukichi{
    display: none;
  }

