.time , .application{
	margin-bottom: 25px;
  margin-right: 25px;
}
.time{padding: 20px 20px 0 20px;}
.packages{padding: 0 20px 0 20px;}
.apzinfo-bottom{
	margin-top: 20px;
	border-top: 1px solid #ccc;
	background-color: lightgrey;
}
.apzinfo-bottom button{
	margin: 15px 5px 15px 20px;
}
.apzinfo{
  border: 1px solid #ccc;
	border-radius: 4px;
}
.apzinfo1{
  border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	height: 300px;
}
.time1{
	position: relative;
	top: 37%;
	left: 8%;
}
.apzinfo li{
	font-style: italic;
	list-style-type: none;
}
.left-tabs{
  display: inline-flex;
  width: 30%;
}
.left-tabs a.tab1{
	background-image: url(/images/7.svg);
	background-repeat: no-repeat;
	background-size: 50px;
	background-position-y: center;
	background-position-x: 10px;
	background-color: #7abf82;
  border: none;
  color: white;
  padding: 20px 20px 20px 70px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
	width: 100%;
	border-left: 5px solid #db8c8c;
}
.left-tabs a.tab2{
	background-image: url(/images/2.svg);
	background-repeat: no-repeat;
	background-size: 50px;
	background-position-y: center;
	background-position-x: 10px;
	background-color: #7abf82;
  border: none;
  color: white;
  padding: 20px 20px 20px 70px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
	width: 100%;
	border-left: 5px solid #db8c8c;
}
.left-tabs a.tab3{
	background-image: url(/images/3.svg);
	background-repeat: no-repeat;
	background-size: 50px;
	background-position-y: center;
	background-position-x: 10px;
	background-color: #7abf82;
  border: none;
  color: white;
  padding: 20px 20px 20px 70px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
	width: 100%;
	border-left: 5px solid #db8c8c;
}
.left-tabs a.tab4{
	background-image: url(/images/1.svg);
	background-repeat: no-repeat;
	background-size: 50px;
	background-position-y: center;
	background-position-x: 10px;
	background-color: #7abf82;
  border: none;
  color: white;
  padding: 20px 20px 20px 70px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
	width: 100%;
	border-left: 5px solid #db8c8c;
}
.left-tabs a.tab6{
	background-image: url(/images/5.svg);
	background-repeat: no-repeat;
	background-size: 50px;
	background-position-y: center;
	background-position-x: 10px;
	background-color: #7abf82;
  border: none;
  color: white;
  padding: 20px 20px 20px 70px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
	width: 100%;
	border-left: 5px solid #db8c8c;
}
.left-tabs a.tab5{
	background-image: url(/images/4.svg);
	background-repeat: no-repeat;
	background-size: 50px;
	background-position-y: center;
	background-position-x: 10px;
	background-color: #7abf82;
  border: none;
  color: white;
  padding: 20px 20px 20px 70px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
	width: 100%;
	border-left: 5px solid #db8c8c;
}
.left-tabs a.tab6{
	background-image: url(/images/5.svg);
	background-repeat: no-repeat;
	background-size: 50px;
	background-position-y: center;
	background-position-x: 10px;
	background-color: #7abf82;
  border: none;
  color: white;
  padding: 20px 20px 20px 70px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
	width: 100%;
	border-left: 5px solid #db8c8c;
}
.left-tabs a.tab7{
	background-image: url(/images/6.svg);
	background-repeat: no-repeat;
	background-size: 50px;
	background-position-y: center;
	background-position-x: 10px;
	background-color: #7abf82;
  border: none;
  color: white;
  padding: 20px 20px 20px 70px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
	width: 100%;
	border-left: 5px solid #db8c8c;
}
.buttons a:hover{
	background-color: #4CAF50;
}
.left-tabs .isactive{background-color: #db8c8c !important}
.right-side{
  display: inline-flex;
  width: 65%;
	margin-left: 45px;
	position: relative;
  top: -18px;
}
.right-side button{margin-left: 20px;}
.right-side a {
    margin-left: 20px;
    background-color: #dc3545 !important;
    color: white !important;
    font-weight: bold !important;
}
